.container{
    height: 500px;
}

.testField1{
    position: relative;
    top: 50%
}

.btn_reset{
    background-color: #000;
    border: rgba(0, 255, 0, 1.0) 1px solid;
    color: rgba(0, 255, 0, 1.0);
    padding: 10px 20px;
}

.btn_reset:hover{
    background-color: rgba(0, 255, 0, 1.0) ;
    border: rgba(0, 255, 0, 1.0) 1px solid;
    color: rgba(0, 0, 0, 1.0);
}

.toolsContainer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding:10px;
}